<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" >
    <title>Admin Page</title>
    <link type="text/css" rel="stylesheet" th:href="@{/css/dance.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/css/admin-page.css}">

    <link href="https://fonts.googleapis.com/css2?family=Inria+Sans:wght@300;400&family=Roboto:wght@300&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@300&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Viaoda+Libre&display=swap" rel="stylesheet">
    <script defer th:src="@{/scripts/admin/main.js}"></script>
    <script defer th:src="@{/scripts/admin/item-menu.js}"></script>

</head>
<body>
    <header class="header">
        <span class="logo-text-historical">исторические</span>
        <span class="logo-text-dance">ТАНЦЫ</span>
    </header>
    <div class="content-div">

        <div class="left-side-menu-div">

            <div class="menu-item">
                <span class="bold-span">Подборки</span>
                <div class="menu-item__menu-option">
                    <span>Занятия</span>
                    <span>Мероприятия</span>
                    <span>Прочее</span>
                </div>
            </div>
        </div>
        <div class="top-menu_list_div">
            
            <div class="top-bar">
                <div class="top-bar_radio-group">
                    <div class="radio-group-item">
                        <input type="radio" id="radio-dance-list" name="radio" value="1">
                        <label for="radio-dance-list">Подборки</label>
                    </div>
                    <div class="radio-group-item">
                        <input type="radio" id="radio-dances" name="radio" value="2">
                        <label for="radio-dances">Танцы</label>
                    </div>
                    <div class="radio-group-item">
                        <input type="radio" id="radio-dance-types" name="radio" value="3">
                        <label for="radio-dance-types">Типы танцев</label>
                    </div>
                </div>
                <div class="top-bar_left-group">
                    <button class="new-item-btn" id="new-item-btn">Добавить</button>

                </div>
            </div>
            <div id="list-container" class="list-container">
<!--                <div th:each="danceList : ${danceLists}" class="list-item">-->
<!--                    <span th:text="${danceList.getName()}"></span>-->
<!--                    <button class="more-btn">-->
<!--                        <img src="../../images/btns/more-2-25.png" alt="" class="more-img">-->
<!--                    </button>-->
<!--                </div>-->
            </div>




            <div class="creating-menu-background" id="dance-lists-add-menu-background">
                <div class="creating-menu">
                    <div class="top-bar">
                        <span class="bold-span">Новая подборка</span>
                        <button class="more-btn" id="dance-lists-close-btn">
                            <img src="../../images/btns/close-32.png" alt="" class="close-img">
                        </button>
                    </div>
                    <label for="list-name-input" class="input-label">Название</label>
                    <input type="text" class="name-input" id="list-name-input">
                    <button id="dance-lists-confirm-btn" class="confirm-btn">Создать</button>
                </div>
            </div>

            <div class="creating-menu-background" id="dances-add-menu-background">
                <div class="creating-menu">
                    <div class="top-bar">
                        <span class="bold-span">Новый танец</span>
                        <button class="more-btn" id="dances-close-btn">
                            <img src="../../images/btns/close-32.png" alt="" class="close-img">
                        </button>
                    </div>
                    <label for="dance-name-input" class="input-label">Название</label>
                    <input type="text" class="name-input" id="dance-name-input">

                    <label for="dance-type" class="input-label">Тип танца</label>
                    <select id="dance-type"></select>
                    <button id="dances-confirm-btn" class="confirm-btn">Создать</button>
                </div>
            </div>

            <div class="creating-menu-background" id="dance-types-add-menu-background">
                <div class="creating-menu">
                    <div class="top-bar">
                        <span class="bold-span">Новый тип</span>
                        <button class="more-btn" id="dance-types-close-btn">
                            <img src="../../images/btns/close-32.png" alt="" class="close-img">
                        </button>
                    </div>
                    <label for="dance-type-name-input" class="input-label">Название</label>
                    <input type="text" class="name-input" id="dance-type-name-input">
                    <button id="dance-types-confirm-btn" class="confirm-btn">Создать</button>
                </div>
            </div>

            <div class="more-menu">

            </div>
        </div>
    </div>


</body>
</html>