<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" >
    <title>Admin Page</title>
    <link type="text/css" rel="stylesheet" th:href="@{/css/dance.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/css/admin-page.css}">
</head>
<body>
    <header class="header">
        <span class="logo-text-historical">исторические</span>
        <span class="logo-text-dance">ТАНЦЫ</span>
    </header>
    <div class="content-div">
        <div class="left-side-menu-div">
            <button class="left-side-menu-btn">Подборки</button>
            <button class="left-side-menu-btn">Танцы</button>
            <button class="left-side-menu-btn">Типы танцев</button>
        </div>
        <div class="list-div">
            <div class="top-side-menu-div">
                <span>Занятия</span>
                <span>Мероприятия</span>
            </div>

        </div>
    </div>


</body>
</html>