<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://fonts.googleapis.com/css2?family=Inria+Sans:wght@300;400&family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Viaoda+Libre&display=swap" rel="stylesheet">

    <link type="text/css" rel="stylesheet" th:href="@{/css/dance.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/css/admin-page2.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/css/calendar.css}" />

    <script defer type="text/javascript" th:src="@{/scripts/admin/server-requests.js}"></script>
    <script defer type="text/javascript" th:src="@{/scripts/utils/date-time-converter.js}"></script>
    <script defer type="text/javascript" th:src="@{/scripts/admin/menus.js}"></script>

    <script defer type="text/javascript" th:src="@{/scripts/dto/mapper.js}"></script>
    <script defer type="text/javascript" th:src="@{/scripts/dto/dance-list-dto.js}"></script>

    <script defer type="text/javascript" th:src="@{/scripts/admin/table.js}"></script>
    <script defer type="text/javascript" th:src="@{/scripts/admin/calendar.js}"></script>
    <script defer type="text/javascript" th:src="@{/scripts/admin/new-row-menu.js}"></script>
    <script defer type="text/javascript" th:src="@{/scripts/admin/time-edit-menu.js}"></script>
<!--    <script defer type="text/javascript" th:src="@{/scripts/admin/admin2.js}"></script>-->

    <script defer type="text/javascript" th:src="@{/scripts/admin/Main.js}"></script>
</head>
<body>
    <header class="header">
        <span class="logo-text-historical">исторические</span>
        <span class="logo-text-dance">ТАНЦЫ</span>
    </header>
    <div class="content-div">
        <div class="top-bar">

        </div>

        <div class="data-content-div">
            <div class="left-menu__radio-group">
                <div class="radio-group-item">
                    <input type="radio" id="radio-dance-lists" name="radio" value="1">
                    <label for="radio-dance-lists">Подборки</label>
                    <div class="submenu">
                        <div class="submenu-item">
                            <div class="side-line"></div>
                            <span>Занятия</span>
                        </div>
                        <div class="submenu-item">
                            <div class="side-line"></div>
                            <span>Мероприятия</span>
                        </div>
                        <div class="submenu-item">
                            <div class="side-line"></div>
                            <span>Прочее</span>
                        </div>
                        <!--                    <span>Мероприятия</span>-->
                        <!--                    <span>Прочее</span>-->
                    </div>

                </div>
                <div class="radio-group-item">
                    <input type="radio" id="radio-dances" name="radio" value="2">
                    <label for="radio-dances">Танцы</label>
                </div>
                <div class="radio-group-item">
                    <input type="radio" id="radio-dance-types" name="radio" value="3">
                    <label for="radio-dance-types">Типы танцев</label>
                </div>
            </div>

            <div class="top-bar_table">
                <div class="top-bar">
                    <button class="new-item-btn" id="new-item-btn">Добавить</button>
                </div>
                <table id="table" class="table">
                    <thead>
                    <tr class="rows">

                        <th>
                            <input type="checkbox">
                            <span>Название</span>

                        </th>
                        <th>Дата</th>
                        <th>Время</th>
                        <th>Описание</th>
<!--                        <th>Статус</th>-->
                    </tr>
                    </thead>
                    <tbody id="table-items"></tbody>
                </table>
            </div>

        </div>
    </div>

    <div class="edit-menu" id="edit-menu">
        <label>
            <textarea id="textarea"></textarea>
        </label>
        <div>
            <button id="cancel">Отмена</button>
            <button id="submit">Ок</button>
        </div>
    </div>

    <div class="time-edit-menu flex-column" id="time-edit-menu">
<!--        <button id="cancel-time">X</button>-->
        <div class="flex-column ">
            <button class="more-btn align-self-end j-end" id="time-close-btn">
                <img src="../../images/btns/close-32.png" alt="" class="close-img">
            </button>
        </div>

        <div class="flex-row padding-top-10 padding-bottom-10">
            <select id="hour-select"></select>
            <span>:</span>
            <select id="minutes-select" class=""></select>
        </div>

        <button id="time-submit-btn" class="confirm-btn">Сохранить</button>

    </div>

    <div class="creating-menu-background" id="dance-lists-add-menu-background">
        <div class="creating-menu">
            <div class="top-bar">
                <span class="bold-span">Новая подборка</span>
                <button class="more-btn" id="dance-lists-close-btn">
                    <img src="../../images/btns/close-32.png" alt="" class="close-img">
                </button>
            </div>
            <label for="list-name-input" class="input-label">Название</label>
            <input type="text" class="name-input" id="list-name-input">
            <div class="flex-row">
                <span id="date-span"></span>
                <button class="calendar-btn" id="calendar-btn"></button>
            </div>
            <button id="dance-lists-confirm-btn" class="confirm-btn">Создать</button>
        </div>
    </div>

    <div class="creating-menu-background" id="dances-add-menu-background">
        <div class="creating-menu">
            <div class="top-bar">
                <span class="bold-span">Новый танец</span>
                <button class="more-btn" id="dances-close-btn">
                    <img src="../../images/btns/close-32.png" alt="" class="close-img">
                </button>
            </div>
            <label for="dance-name-input" class="input-label">Название</label>
            <input type="text" class="name-input" id="dance-name-input">

            <label for="dance-type" class="input-label">Тип танца</label>
            <select id="dance-type"></select>
            <button id="dances-confirm-btn" class="confirm-btn">Создать</button>
        </div>
    </div>

    <div class="creating-menu-background" id="dance-types-add-menu-background">
        <div class="creating-menu">
            <div class="top-bar">
                <span class="bold-span">Новый тип</span>
                <button class="more-btn" id="dance-types-close-btn">
                    <img src="../../images/btns/close-32.png" alt="" class="close-img">
                </button>
            </div>
            <label for="dance-type-name-input" class="input-label">Название</label>
            <input type="text" class="name-input" id="dance-type-name-input">
            <button id="dance-types-confirm-btn" class="confirm-btn">Создать</button>
        </div>
    </div>
</body>
</html>