<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dances</title>
    <link rel="stylesheet" href="../../static/css/dance.css">
</head>
<body>
    <button class="waltz-btn">
        <div class="waltz-div">
            <img class="waltz-img" src="../../static/images/waltz.png"/>
        </div>  
        <span>Waltz</span>
    </button>

    <div class="dance-types-grid">
        <div th:each="danceType : ${danceTypes}">
            <button th:text="${danceType.getName()}">

            </button>
        </div>
    </div>
</body>
</html>