.flex-column {
    display: flex;
    flex-direction: column;
}
.flex-row {
    display: flex;
    flex-direction: row;
}
.space-between {
    justify-content: space-between;
}
.align-self-end {
    align-self: end;
}
.light-jost {
    font-family: 'Jost', 'sans-serif';
    font-weight: lighter;
}
.padding-bottom-10 {
    padding-bottom: 10px;
}
.padding-top-10 {
    padding-top: 10px;
}

.content-div {
    display: flex;
    flex-direction: column;
    font-family: 'Jost', 'sans-serif';
    padding: 30px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.data-content-div {
    display: flex;
    flex-direction: row;
    gap: 35px;
}

.left-side-menu-div {
    display: flex;
    flex-direction: column;
    font-family: 'Jost', 'sans-serif';
    gap: 4px;
    margin-top: 40px;
    margin-left: 50px;
    margin-right: 20px;
    padding: 10px 20px;

    background-color: rgb(235, 235, 235);
    /*display: none;*/
}
.top-side-menu-btn {
    display: flex;

    font-family: 'Jost', 'sans-serif';
    font-size: 18px;

    background-color: transparent;
    border-width: 0;
    opacity: 70%;
}
.top-side-menu-btn:hover {
    display: flex;

    font-family: 'Jost', 'sans-serif';
    font-size: 18px;
    background-color: transparent;
    border-width: 0;
    text-decoration: underline;
    text-underline-position: under;
    font-weight: 600;
}
.top-side-menu-btn::selection {
    display: flex;

    font-family: 'Jost', 'sans-serif';
    font-size: 18px;
    background-color: transparent;
    border-width: 0;
    text-decoration: underline;
    text-underline-position: under;
    font-weight: 600;
    opacity: 100%;
}

.left-menu__radio-group {
    /*display: inline-block;*/
    /*overflow: hidden;*/
    display: flex;
    flex-direction: column;
}
.radio-group-item {
    display: inline-block;
    float: left;
}
.left-menu__radio-group input[type=radio] {
    display: none;
}
.left-menu__radio-group label {
    display: flex;
    cursor: pointer;
    padding: 0 15px;
    line-height: 34px;

    font-family: 'Jost', 'sans-serif';
    font-size: 16px;
    /*border: 1px solid #999;*/
    /*border-right: none;*/
    user-select: none;
    color: #646464;
    font-weight: 600;
    min-width: 120px;
}

.top-bar {
    display: flex;
    flex-direction: row;
    font-family: 'Jost', 'sans-serif';
    font-size: 18px;
    /*gap: 20px;*/
    align-items: center;
    justify-content: space-between;
    width: 532px;
}

.creating-menu .top-bar {
    width: 100%;
}

.left-menu__radio-group .radio-group-item:first-child label {
    /*border-radius: 6px 0 0 6px;*/
}
.left-menu__radio-group .radio-group-item:last-child label {
    /*border-radius: 0 6px 6px 0;*/

    /*border-right: 1px solid #999;*/
}

/* Checked */
.left-menu__radio-group input[type=radio]:checked + label {
    /*background: #dadada;*/
    font-weight: bold;
    /*text-decoration: underline;*/
    /*text-underline-position: under;*/
    color: black;
}

/* Hover */
.left-menu__radio-group label:hover {
    color: #666;
}

/* Disabled */
.form_radio_group input[type=radio]:disabled + label {
    background: #efefef;
    color: #666;
}


.top-menu_list_div {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.list-container {
    display: flex;
    gap: 4px;
    flex-direction: column;
}
.list-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /*cursor: pointer;*/
    padding: 0 15px;
    line-height: 44px;

    font-family: 'Jost', 'sans-serif';
    font-size: 14px;
    border: 1px solid #999;
    /*border-right: none;*/
    user-select: none;
    width: 500px;
}

.new-item-btn {
    background: #9094ef;
    border-radius: 20px;
    border: 0;
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-family: 'Jost', 'sans-serif';
    font-size: 14px;
    /*font-weight: bolder;*/
    padding: 4px 15px;
    line-height: 34px;
    color: #ffffff;
}

.new-item-btn:hover {
    background: #7a7ede;
}

.more-btn {
    background: transparent;
    border-radius: 20px;
    border: 0;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 0 2px;
}

.more-btn:hover {
    cursor: pointer;
}

.more-btn:active {
    background: #e7e7e7;
    border-radius: 20px;
    border: 1px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.more-btn img {
    /*width: 100%;*/
    width: 18px;
    transform: rotate(90deg);
}



.creating-menu-background {
    display: flex;
    display: none;

    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;

    position:fixed;
    padding:0;
    margin:0;

    top:0;
    left:0;
    background: rgba(72, 72, 72, 0.5);
    z-index: 132;
}

.creating-menu {
    width: 300px;
    height: fit-content;
    box-shadow:  0px 0px 11px 0px #9a9a9a;

    display: flex;
    flex-direction: column;
    padding: 15px;
    opacity: 1;
    z-index: 256;
    background: rgb(255, 255, 255);

    /*gap: 20px;*/
}

.bold-span {
    font-size: 16px;
    font-weight: bold;
}

.confirm-btn {
    font-family: 'Jost', 'sans-serif';
    font-size: 14px;
    font-weight: bold;
    color: #7a7ede;
    background: transparent;
    border: 0;
    align-self: end;
}

.input-label {
    font-size: 14px;
    margin-top: 20px;
}

.name-input {
    margin-bottom: 20px;
}

.submenu span {
    display: flex;
    padding-left: 10px;
    font-size: 14px;
    gap: 2px;
    padding-top: 4px;
}

.submenu {
    display: flex;
    flex-direction: column;
    padding-left: 16px;
    font-size: 14px;
    /*gap: 2px;*/
    padding-bottom: 4px;
}
.submenu-item div {
    width: 2px;
    background: #caccd7;
}

.submenu-item {
    display: flex;
    flex-direction: row;
}

/*.table, th, td{*/
/*    border-collapse: collapse;*/
/*    border: 1px solid #dadada;*/
/*    padding: 4px 10px;*/
/*}*/

/*.table th {*/
/*    height: 22px;*/
/*    font-size: 13px;*/
/*    align-self: start;*/
/*    text-align: start;*/
/*    !*background: #eeeeee;*!*/
/*    color: #7e7e7e;*/
/*    font-weight: 100;*/
/*}*/

/*.table td {*/
/*    height: 20px;*/
/*    font-size: 14px;*/
/*}*/

/*.table {*/
/*    width: 550px;*/
/*    height: max-content;*/
/*}*/

/*.top-bar_table {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    gap: 10px;*/
/*}*/

/*.top-bar {*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    gap: 10px;*/
/*}*/


/*table design 2*/



/*.table tr:nth-child(even) {*/
/*    background: #e8eaf5;*/
/*}*/

.table, th, td{
    border-bottom: 1px solid #dadada;
    padding: 10px 18px;
    border-collapse: collapse;

}

.table th {
    height: 22px;
    font-size: 13px;
    align-self: start;
    text-align: start;
    background: #eeeeee;
    margin: 4px;
    color: #000000;
    padding: 10px 18px;
}

.table td {
    height: 20px;
    font-size: 14px;
    padding: 10px 18px;
}

.table {
    width: 650px;
    height: max-content;
    border: 1px solid #dadada;
    border-radius: 4px;
}

.top-bar_table {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.edit-menu div {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 4px;
}
.edit-menu {
    border: 1px solid #c7c7c7;
    width: fit-content;
    padding: 4px;
    font-family: 'Jost', 'sans-serif';

    display: none;
    flex-direction: column;
    /*display: none;*/

    position:fixed;
    margin:0;

    top:0;
    left:0;
    background: rgb(231, 231, 231);
    z-index: 132;
}

.time-edit-menu {
    display: none;
    /*flex-direction: row;*/
    gap: 2px;
    font-family: 'Jost', 'sans-serif';
    font-weight: bold;
    border: #c7c7c7 solid 1px;
    width: max-content;
    padding: 8px;
    background-color: #e7e7e7;

    position:fixed;
    margin:0;

    top:0;
    left:0;
}
