.left-side-menu-div {
    display: flex;
    flex-direction: column;
    font-family: 'Jost', 'sans-serif';
    gap: 4px;
    margin-top: 40px;
    margin-left: 50px;
    margin-right: 20px;
    padding: 10px 20px;

    background-color: rgb(235, 235, 235);

}
.left-side-menu-btn {
    display: flex;

    font-family: 'Jost', 'sans-serif';
    font-size: 18px;
    background-color: transparent;
    border-width: 0;
}
.top-side-menu-div {
    display: flex;
    flex-direction: row;
    font-family: 'Jost', 'sans-serif';
    font-size: 18px;
    gap: 20px;

}
.content-div {
    display: flex;    
    flex-direction: row;
    font-family: 'Jost', 'sans-serif';
    margin-top: 30px;
}

