.header {
    display: flex;
    justify-content: center;   
    flex-direction: column; 
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.header-toolbar {
    display: flex;
    gap: 40px;
    padding: 40px;
    font-family: 'Raleway', sans-serif;
}



.logo-text-historical {
    font-family: 'Jost', sans-serif;
    font-style: normal;
    font-weight: 300;
    /*font-size: 23px;*/
    /*line-height: 33px;*/
    letter-spacing: 0.305em;

    color: #000000;
    line-height: 120.1%;
    font-size: 16px;
}

.logo-text-dance {
    font-family: 'Viaoda Libre', cursive;
    /*font-size: 64px;*/
    line-height: 96.1%;

    font-size: 44px;
}

.waltz-div {
    background-image: url(../images/waltz.png);
    height: 245px;
    /* width: 287px; */
    aspect-ratio: 1.17 / 1;
    overflow: hidden;
}

.dance-type-btn {
    padding: 10px;
    border-radius: 15px;
    border-width: 1px;
    border-color: #b1b1b1;
    border-style: solid;
    /* width: 200px; */
    width: 240px;
    aspect-ratio: 1.1 / 1;
    /* aspect-ratio: 1.17 / 1; */
    overflow: hidden;
    flex-basis: 30%;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

}

.dance-type-btn:hover {
    border-color: #7a7a7a;
    border-width: 1px;
    border-style: solid;
    box-shadow: 0px 0px 11px 0px #9a9a9a;
}


.dance-types-div {
    display: flex;
    flex-wrap: wrap;
    /* width: 620px;   */
    width: 820px;  
    gap: 15px;  
    
}

.dance-type-img {
    border-radius: 13px;
    width: 100%;
}

.dance-types-div-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.dance-type-label {

color: #000;
/* font-family: 'Roboto', sans-serif; */
/* font-family: 'Raleway', sans-serif; */
font-family: 'Raleway', sans-serif;
font-size: 16px;
font-style: medium;
font-weight: 500;
padding-top: 6px;
/* line-height: normal; */

}

.dance-video {
    width: 500px;
    height: 281px;
}

